/* font-family: "AirportRegular"; */
@font-face {
    font-family: "AirportRegular";
    src: url("../fonts/AirportRegular/AirportRegular.eot");
    src: url("../fonts/AirportRegular/AirportRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AirportRegular/AirportRegular.woff") format("woff"),
    url("../fonts/AirportRegular/AirportRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "myriad-set-pro_text"; */
@font-face {
	font-family: "myriad-set-pro_text";
	src: url("../fonts/Myriad-set/myriad-set-pro_text.eot");
	src: url("../fonts/Myriad-set/myriad-set-pro_text.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Myriad-set/myriad-set-pro_text.woff") format("woff"),
	url("../fonts/Myriad-set/myriad-set-pro_text.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "myriad-set-pro_medium"; */
@font-face {
	font-family: "myriad-set-pro_medium";
	src: url("../fonts/Myriad-set/myriad-set-pro_medium.eot");
	src: url("../fonts/Myriad-set/myriad-set-pro_medium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Myriad-set/myriad-set-pro_medium.woff") format("woff"),
	url("../fonts/Myriad-set/myriad-set-pro_medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "myriad-set-pro_bold"; */
@font-face {
	font-family: "myriad-set-pro_bold";
	src: url("../fonts/Myriad-set/myriad-set-pro_bold.eot");
	src: url("../fonts/Myriad-set/myriad-set-pro_bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Myriad-set/myriad-set-pro_bold.woff") format("woff"),
	url("../fonts/Myriad-set/myriad-set-pro_bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/RobotoMedium/RobotoMedium.eot");
	src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
	url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}