* {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

.title {
	font-family: "AirportRegular";
	font-size: 60px;
	text-transform: uppercase;
}

.title-descr {
	font-size: 16px;
	color: #909090;
	line-height: 27px;
}

body {
	font-family: "myriad-set-pro_text";
	font-size: 14px;
	line-height: 1.3;
	background-color: #fff;
	color: #000;
	min-width: 320px;
}

header {
	font-family: "myriad-set-pro_medium";
	overflow: hidden;
}

.navbar {
	background-color: #fff;
	margin: 0;
}

.navbar-default {
	border: none;
}

.navbar-brand {
	padding: 24px 0;
}

.menu {
	margin: 18px 0 0;
}

.navbar-default .navbar-nav>li>a {
	font-size: 18px;
	color: #000;
	text-transform: uppercase;
	position: relative;
}

.navbar-default .navbar-nav>li>a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-nav>li>a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.navbar-right {
	padding: 0;
	position: relative;
}

.coverbg {
	width: 9999px;
	background: #f0f0f0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.navbar-right .phone_wrap {
	float: left;
	padding: 0 7px 0 10px;
}

.navbar-right .phone {
	font-size: 21px;
	padding-left: 33px;
	position: relative;
	margin: 15px 0 0;
}

.navbar-right .phone::before {
	content: '';
	background: url('../img/ic-phone.png') 0 0 no-repeat;
	width: 23px;
	height: 22px;
	position: absolute;
	top: 3px;
	left: 0;
}

.navbar-right .phone_descr {
	color: #606060;
}

.languages {
	float: left;
	margin: 0;
}

.languages li a {
	color: #606060;
	text-transform: uppercase;
	display: block;
	padding: 10px 10px;
	text-decoration: none;
}

.languages li a:hover {
	background: #bd0404;
	color: #fff;
}
/* end headder*/

.main_block	{
	background-position: center 0;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 612px;
	position: relative;
	margin: 0 auto;
	max-width: 1600px;
}

.main_block .promo {
	text-align: center;
	padding: 200px 0 0;
}

.main_block .promo h1 a{
	font-family: "AirportRegular";
	text-transform: uppercase;
	font-size: 60px;
	color: #fff;
	text-decoration: none;
}

.main_block .promo p {
	font-size: 26px;
	color: #c2c2c2;
}

.main_block .slider {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 19px 0;
	background: rgba(13,13,13,0.70);
	width: 100%;
}

.carousel-inner>.item {
	padding: 0 40px;
}

.main_block .slider .item .customer {
	font-family: "AirportRegular";
	font-size: 18px;
	text-transform: uppercase;
	color: #bd0404;
}

.main_block .slider .item .customer_descr {
	font-size: 18px;
	line-height: 21px;
	color: #fff;
}

.main_block .carousel-control.right,
.main_block .carousel-control.left {
	background-image: url('../img/ic-arrows.png');
	background-repeat: no-repeat;
}

.main_block .carousel-control.right {
	background-position: -54px 0;
}

.carousel-control {
	margin: -23px 0 0;
	top: 50%;
	left: 0;
	width: 8%;
	height: 47px;
	width: 47px;
	position: absolute;
	opacity: 1;
}

.main_block .carousel-control:focus, .carousel-control:hover {
	opacity: 0.9;
}
/* end main_block*/

.our-menu {
	background-position: center 0;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	overflow: hidden;
	height: 678px;
	padding: 185px 0 0;
}

.our-menu .title {
	color: #000;
	margin-bottom: 20px;
}

.our-menu .title-descr {
	margin-bottom: 50px;
}

.our-menu .menu-btn {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 20px 30px;
	background: #bd0404;
}

.our-menu .menu-btn:hover {
	background-color: #d0060d;
}
/* end our-menu*/

.video_block {
	width: 100%;
	position: relative;
	color: #fff;
}

.video_block .vjs-poster {
	background-image: url(../upload/video-poster.jpg)!important;
	background-position: center 0;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.video-js .vjs-big-play-button {
	position: relative;
	margin: -31% auto 0;
	border: none;
	background: url('../img/ic-play.png') 0 0 no-repeat;
	background-size: contain;
	width: 130px;
	height: 130px;
	text-align: center;
}

.video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus {
	background-color: transparent;
}

.video-js .vjs-big-play-button::before {
	content: 'Timesbar video';
	font-family: "AirportRegular";
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	left: 0;
	width: 320px;
	margin: 120% 0 0 -90px;
}

.video-js .vjs-big-play-button::after {
	content: 'Увидь собственными глазами красоту бара';
	font-size: 24px;
	font-family: "myriad-set-pro_text";
	text-align: center;
	position: absolute;
	left: 0;
	width: 440px;
	margin: 110% 0 0 -150px;
}

	.video_block p{
		font-size: 24px;
	}
	/* end video_block*/

	.benefits {
		padding: 70px 0;
		text-align: center;
	}

	.benefits .title-descr {
		margin-bottom: 60px;
	}

	.benefits .item {
		min-height: 360px;
		margin-bottom: 60px;
		display: inline-block;
	}

	.benefits .item .img-wrapper{
		height: 230px;
		width: 230px;
		border: 4px solid #fff;
		-webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 1);
		-moz-box-shadow:    0px 0px 9px 0px rgba(0, 0, 0, 1);
		box-shadow:         0px 0px 9px 0px rgba(0, 0, 0, 1);
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		margin-bottom: 30px;
		overflow: hidden;
		display: inline-block;
	}

	.benefits .item h4 {
		font-family: "myriad-set-pro_bold";
		font-size: 21px;
	}
	/* end benefits*/

	.gallery {
		background: #0d0d0d;
		text-align: center;
		color: #fff;
		padding: 60px 0 0;
	}

	.gallery .owl-carousel {
		position: relative;
	}

	.gallery .owl-carousel .owl-stage {
		padding: 60px 0;
	}

	.gallery .item {
		opacity: 0.4;
		transition: .4s ease all;
		margin: 0 20px;
		transform: scale(.8);
		opacity: 1;
		position: relative;
		-webkit-box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow:    0px 20px 30px 0px rgba(0, 0, 0, 0.75);
		box-shadow:         0px 20px 30px 0px rgba(0, 0, 0, 0.75);
	}

	.gallery .item a {
		position: relative;
		display: block;
	}

	.gallery .item a::before {
		z-index: 100;
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		-webkit-box-shadow: inset 0px -75px 150px 0px rgba(0, 0, 0, 1);
		-moz-box-shadow:    inset 0px -75px 150px 0px rgba(0, 0, 0, 1);
		box-shadow:         inset 0px -75px 150px 0px rgba(0, 0, 0, 1);
	}

	@media(max-width:1000px) {
		.gallery .item {
			margin: 0;
			transform: scale(.9)
		}
	}

	.gallery .active .item {
		opacity: 1;
		transform: scale(1);
	}

	.gallery .owl-item {
		-webkit-backface-visibility: hidden;
		-webkit-transform: translateZ(0) scale(1.0, 1.0);
	}

	.gallery .inner {
		position: absolute;
		bottom: 30px;
		left: 0;
		right: 0;
		text-align: center;
	}

	.gallery .inner a:hover {
		border-color: #fff;
	}

	.owl-carousel .owl-item img {
		height: auto;
	}

	.owl-prev,
	.owl-next {
		position: absolute;
		top: 50%;
		margin-top: -10px;
	}

	.owl-prev::after,
	.owl-next::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: url('../img/ic-olw_arrows.png') 0 0 no-repeat;
		width: 40px;
		height: 40px;
	}

	.owl-controls .owl-prev {
		left: 14%;
	}

	.owl-controls .owl-next {
		right: 17%;
	}

	.owl-controls .owl-next::after {
		background-position: -57px 0;
	}

	.owl-descr {
		font-family: "AirportRegular";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-transform: uppercase;
		z-index: 111;
	}

	.owl-descr .date {
		font-size: 60px;
		float: left;
		width: 20%;
		line-height: 40px;
	}

	.owl-descr .date span {
		font-size: 24px;
		display: block;
	}

	.owl-descr .text {
		margin-top: 15px;
		font-size: 30px;
		float: left;
		width: 60%;
	}

	.owl-descr .photos {
		font-family: "myriad-set-pro_text";
		font-size: 30px;
		padding: 0 50px 0 0;
		margin: 15px 15px 0 0;
		float: right;
		width: 80px;
		height: 40px;
		background: url('../img/ic-images.png') 35px 3px no-repeat;
	}

	/*Gallery end*/

	.contacts {
		font-family: "RobotoRegular";
		text-align: center;
		padding: 145px 0;
	}

	.contacts .f-logo {
		margin-bottom: 60px;
	}

	.contacts p {
		font-size: 12px;
	}

	.contacts span {
		font-family: "RobotoMedium";
		font-size: 15px;
	}

	.contacts p a {
		color: #000;
		text-decoration: none;
	}
	/*end contacts */

	footer {
		border-top: 1px solid #c3c3c3;
		padding: 30px 0 50px;
		font-family: "RobotoRegular";
		font-size: 12px;
		text-align: center;
	}
	/*end footer */

	/*Modal Slider*/

	.gallery_block {
		padding: 76px 0;
		text-align: center;
	}

	.gallery_block .slick-slide img {
		display: inline-block;
	}

	.slick-prev,
	.slick-next {
		width: 40px;
		height: 40px;
		z-index: 1000;
		background: rgba(0,0,0,0.7);
		left: 50%;
	}

	.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus
	{
		background: rgba(0,0,0,0.9);
	}

	.slick-prev {
		margin: 0 0 0 -26.5%;
	}

	.slick-next {
		margin: 0 0 0 24%;
	}

	.slick-prev:before, .slick-next:before {
		font-size: 22px;
	}

	.gallery_block .slider-nav {
		background-color: #0d0d0d;
	}

	.gallery_block .slider-nav .slick-item {
		margin: 10px 2px;
		border: 1px solid #fff;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		overflow: hidden;
	}