/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.slick-prev {
		margin: 0 0 0 -33%;
	}

	.slick-next {
		margin: 0 0 0 30%;
	}
}

@media only screen and (max-width : 1050px) {
	.slick-prev {
		margin: 0 0 0 -38%;
	}

	.slick-next {
		margin: 0 0 0 34%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.nav>li>a {
		padding: 10px 6px;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 14px;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 16px;
	}

	.navbar-right .phone_descr {
		font-size: 12px;
	}

	.navbar-right .phone {
		font-size: 16px;
		margin: 20px 0 10px;
	}

	.owl-controls .owl-next {
		right: 19%;
	}
	
	.video-js .vjs-big-play-button {
		width: 9%;
	}

	.video-js .vjs-big-play-button::before {
		font-size: 40px;
		margin: 120% 0 0 -120px;
	}

	.video-js .vjs-big-play-button::after {
		font-size: 20px;
		margin: 110% 0 0 -180px;
	}

	.slick-prev {
		margin: 0 0 0 -41%;
	}

	.slick-next {
		margin: 0 0 0 37%;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.title {
		font-size: 50px;
	}

	.title-descr {
		font-size: 14px;
	}

	.navbar-brand {
		padding: 8px 0 0;
	}

	.navbar-nav {
		margin: 0px -15px;
	}

	.coverbg {
		width: 100%;
	}

	.main_block .promo {
		padding: 150px 0 0;
	}

	.carousel-control {
		top: 30%;
	}

	.carousel-control.right {
		right: 5%;
	}

	.carousel-control.left {
		left: 5%;
	}

	.our-menu {
		background-position: 27% 0;
		padding: 55px 0 0;
	}

	.owl-descr .text {
		font-size: 17px;
		margin-top: 4%;
	}

	.owl-descr .date {
		font-size: 40px;
	}

	.owl-descr .date span {
		font-size: 18px;
	}

	.owl-controls .owl-prev {
		left: 16%;
	}

	.owl-controls .owl-next {
		right: 21%;
	}

	.video-js .vjs-big-play-button::before {
		font-size: 30px;
		margin: 100% 0 0 -130px;
	}

	.video-js .vjs-big-play-button::after {
		font-size: 17px;
		margin: 40% 0 0 -180px;
	}

	.slick-prev {
		margin: 0 0 0 -47%;
	}

	.slick-next {
		margin: 0 0 0 38%;
	}

}

@media only screen and (max-width : 674px) {
	.owl-descr .date {
		width: 12%;
		font-size: 30px;
		line-height: 20px;
	}

	.owl-descr .date span {
		font-size: 16px;
	}

	.owl-descr .photos {
		margin: 0px 15px 10px 0;
	}

	.owl-controls .owl-prev {
		left: 18%;
	}
	
	.owl-controls .owl-next {
		right: 24%;
	}

}

@media only screen and (max-width : 569px) {
	.main_block .promo {
		padding: 120px 10px 0;
	}

	.main_block .promo h1 a {
		font-size: 40px;
	}

	.main_block .promo p {
		font-size: 20px;
	}

	.main_block .slider .item .customer_descr {
		font-size: 16px;
	}

	.gallery {
		padding: 20px 0 0;
	}

	.gallery .title{
		margin: 0 0 -30px;
	}

	.owl-controls .owl-prev {
		left: 2%;
	}
	
	.owl-controls .owl-next {
		right: 10%;
	}

	.contacts {
		padding: 75px 0;
	}

	.slick-next {
		margin: 0 0 0 36%;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.our-menu .menu-btn {
		font-size: 13px;
		padding: 12px 13px;
	}

	.owl-descr .date {
		font-size: 20px;
	}

	.owl-descr .date span {
		font-size: 13px;
	}

	.owl-descr .text {
		font-size: 14px;
		width: 47%;
	}

	.owl-descr .photos {
		margin: 0px 2px 10px 0;
	}

	.owl-controls .owl-prev {
		left: 3%;
	}
	
	.owl-controls .owl-next {
		right: 12%;
	}

	.video-js .vjs-big-play-button::before {
		font-size: 30px;
		margin: 100% 0 0 -130px;
		width: 300px;
	}

	.video-js .vjs-big-play-button::after {
		content: '';
	}

	.slick-next {
		margin: 0 0 0 34%;
	}
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 370px) {
	.title {
		font-size: 40px;
	}

	.owl-controls .owl-next {
		right: 14%;
	}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}