.item {
  opacity: 0.4;
  transition: .4s ease all;
  margin: 0 20px;
  transform: scale(.8);
}

@media(max-width:1000px) {
  .item {
    margin: 0;
    transform: scale(.9)
  }
}

.active .item {
  opacity: 1;
  transform: scale(1);
}
.item{
    opacity: 1;
}
.owl-item {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.inner {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
}


.inner a:hover {
  border-color: #fff;
}
